body{
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    height: 100%;
    text-align: center;
}

#result{
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 20%;
    font-size: 75px;
}